<?xml version="1.0"?>
<launch>

	<!-- Some general parameters -->
	<param name="use_sim_time" value="true" />
	<rosparam file="$(find nav2d_tutorials)/param/ros.yaml"/>

	<!-- Start Stage simulator with a given environment -->
	<node name="Stage" pkg="stage_ros" type="stageros" args="$(find dwa_bug)/world/dynamic_dwa.world">
		<param name="base_watchdog_timeout" value="0" />
	</node>
	<node name="Dynamic_obstacle" pkg="dwa_bug" type="dynamicobs.py" args="$(find dwa_bug)/src/dynamicobs.py">

	</node>	

</launch>
